<h1> Convert <%=@country1%> </h1>

Go <a href="/"> back</a>.

  <ul>
    <% @country_codes.each do |display| %>
        <li><a href="/<%=@country1%>/<%=display%>"> Convert 1 <%=@country1%> to <%= display %>...</li> 
    <% end %>

  </ul>
