<h1> Convert <%=@country1%> to <%= @country2%> </h1>

<p> 1 <%=@country1%> equals <%=@result%> <%= @country2%>. </p>

Go <a href="https://special-space-succotash-v6p5479qjpg4cpqg5-3000.app.github.dev/"> back</a>.
